<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google font CDN-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text&display=swap" rel="stylesheet">
    <!-- Fontawesome CDN -->
    <script src="https://kit.fontawesome.com/6f111b5450.js" crossorigin="anonymous"></script>
    <!-- Styles -->
    <link rel="stylesheet" href="/src/assets/styles/css/main.css">
    <title>Document</title>
</head>
<body>
<div class="product__selection">
    <dl class="product__container">
        <dt class="product__name">출시 년도</dt>
        <dd class="product__wrapper">
            <ul class="product__list">
                <li class="product__item">
                    <input type="checkbox" id="id1" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id2" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id3" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id4" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id5" class="product__option">
                    <label for="">Test Product</label>
                </li>
            </ul>
        </dd>
    </dl>
    <dl class="product__container">
        <dt class="product__name">CPU 종류</dt>
        <dd class="product__wrapper">
            <ul class="product__list">
                <li class="product__item">
                    <input type="checkbox" id="id1" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id2" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id3" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id4" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id5" class="product__option">
                    <label for="">Test Product</label>
                </li>
            </ul>
        </dd>
    </dl>
    <dl class="product__container">
        <dt class="product__name">메모리 용량</dt>
        <dd class="product__wrapper">
            <ul class="product__list">
                <li class="product__item">
                    <input type="checkbox" id="id1" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id2" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id3" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id4" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id5" class="product__option">
                    <label for="">Test Product</label>
                </li>
            </ul>
        </dd>
    </dl>
    <dl class="product__container">
        <dt class="product__name">GPU 종류</dt>
        <dd class="product__wrapper">
            <ul class="product__list">
                <li class="product__item">
                    <input type="checkbox" id="id1" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id2" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id3" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id4" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id5" class="product__option">
                    <label for="">Test Product</label>
                </li>
            </ul>
        </dd>
    </dl>
    <dl class="product__container">
        <dt class="product__name">저장 용량</dt>
        <dd class="product__wrapper">
            <ul class="product__list">
                <li class="product__item">
                    <input type="checkbox" id="id1" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id2" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id3" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id4" class="product__option">
                    <label for="">Test Product</label>
                </li>
                <li class="product__item">
                    <input type="checkbox" id="id5" class="product__option">
                    <label for="">Test Product</label>
                </li>
            </ul>
        </dd>
    </dl>
</div>

</body>
</html>