.navbar
  display: flex
  justify-content: space-between
  align-items: center
  background: #eeeeee
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2)
  padding: 10px 13px

  .navbar__logo
    font-size: 1.250rem

    i
      color: #6caed1

  .navbar__menu
    display: flex

    li
      padding: 10px 13px
      font-size: 0.938rem

  .navbar__icons
    color: #373737

    i
      padding: 8px