<html>
<head>
    <!-- Google font CDN-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text&display=swap" rel="stylesheet">
    <!-- Fontawesome CDN -->
    <script src="https://kit.fontawesome.com/6f111b5450.js" crossorigin="anonymous"></script>
    <!-- Styles -->
    <link rel="stylesheet" href="/src/assets/styles/css/main.css">
    <title>Document</title>
</head>
<body>
<div class="table__product">
    <ul class="table__list">
        <li class="table__item">MacBook Pro 16 M2</li>
        <li class="table__item">MacBook Pro 14 M2</li>
        <li class="table__item">MacBook Pro 13 M2</li>
        <li class="table__item">MacBook Air M2</li>
        <li class="table__item">MacBook Pro 14 M1</li>
        <li class="table__item">MacBook Pro 16 M1</li>
        <li class="table__item">MacBook Air 16 M1</li>
        <li class="table__item">-</li>
    </ul>
</div>
</body>
</html>